APP_NAME="Mission Control"
APP_ENV=local
APP_KEY=base64:xxxxxxxxxxxxxxxxxxxxxxxx
APP_DEBUG=true
APP_URL=https://try.example.com

MISSION_CONTROL_HARD_SECONDS=1800
MISSION_CONTROL_IDLE_SECONDS=120
MISSION_CONTROL_QEMU_EXTRA_ARGS=""

MISSION_CONTROL_APP_NAME="Retro Rocket OS Demo"
MISSION_CONTROL_TAGLINE="Try it now - Play with the OS in your browser"
MISSION_CONTROL_OS_NAME="Retro Rocket"
MISSION_CONTROL_TITLE_LINE="Take Retro Rocket for a spin 🚀"
MISSION_CONTROL_URL="https://retrorocket.dev"
MISSION_CONTROL_LOGO="/img/logo.webp"

MISSION_CONTROL_QEMU_BIN=/usr/bin/qemu-system-x86_64
MISSION_CONTROL_QEMU_IMG_BIN=/usr/bin/qemu-img
MISSION_CONTROL_OVMF_CODE=/usr/share/OVMF/OVMF_CODE.fd

# VM sizing
MISSION_CONTROL_QEMU_MACHINE=q35
MISSION_CONTROL_QEMU_ACCEL=kvm
MISSION_CONTROL_QEMU_CPU=host
MISSION_CONTROL_QEMU_SMP=8
MISSION_CONTROL_QEMU_MEM_MB=4096

# Shutdown Behaviour
MISSION_CONTROL_QEMU_NO_SHUTDOWN=true

# Boot behaviour
MISSION_CONTROL_QEMU_BOOT=c
MISSION_CONTROL_QEMU_BOOT_MODE=disk
MISSION_CONTROL_BASE_IMAGE=/home/missionctl/harddisk0

# Used when boot_mode=cdrom
MISSION_CONTROL_QEMU_CDROM_IMAGE=

# Used when boot_mode=usb
MISSION_CONTROL_QEMU_USB_IMAGE=
MISSION_CONTROL_QEMU_USB_FORMAT=raw

# Networking
MISSION_CONTROL_QEMU_NET_ENABLED=true
MISSION_CONTROL_QEMU_NET_MODE=user
MISSION_CONTROL_QEMU_NET_NIC=e1000
MISSION_CONTROL_QEMU_NET_DUMP_ENABLED=false

# Logging
MISSION_CONTROL_QEMU_DEBUGCON_ENABLED=true
MISSION_CONTROL_QEMU_INTERNAL_LOG_ENABLED=true
MISSION_CONTROL_QEMU_INTERNAL_LOG_FLAGS=guest_errors

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
